<app-header></app-header>
<section class="banner">
  <img [src]="data.attributes.coverImage.original" />
</section>
<div class="card">
  <div class="card-body title">
     <div class="container">
        <div class="row ml-auto">
          <div class="col-sm-6">
              <h1 class="ak_title-anime" id='title'  #animeTitle>{{data.attributes.canonicalTitle}}</h1>
              <span class="ak_desciption-anime"  #animeDescription >{{data.attributes.synopsis}}</span>
          </div>
          <div class="col-sm-6">
              <img class="img-thumbnail" alt="ak-img_anime" [src]="data.attributes.posterImage.small"  #animeImage />
          </div>
          <div class="col-sm-6">
              <ul class="ul_section">
                  <li><a class="active" (click)="habilitar = true; showEpisode=false" > Comments</a></li>
                  <li><a (click)="habilitar = false;showEpisode=true" > Episode</a></li>
              </ul>
          </div>
          <div class="col-sm-6 mt-4">
              <div class="fav">
                  <button class="btn btn-primary addFav" name="button" (click)="animeFavorite(animeTitle.innerHTML, animeDescription.innerHTML, animeImage.currentSrc)">Add to Fav</button>
                  <button class="btn btn-danger delFav" name="button" (click)="deleteFavorite(animeTitle.innerHTML, animeDescription.innerHTML, animeImage.currentSrc)" disabled>Delete from fav</button>
                  <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Leave a comment</button>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" #exampleModal id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Comment {{data.attributes.canonicalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Image:</label>
            <div class="container mt-5">
              <div class="row">
                 <div class="col-sm">
                   <div class="custom-file mb-3">
                     <button (click) ="subirFoto()" [disabled] ="!fotoselecionada" class="btn btn-success" type="button" id="inputGroupFileAddon03" name="MAX_FILE_SIZE" value="4194304">Subir</button>
                      <input (change)="uploadFoto($event)" type="file" class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                   <div class="progress" *ngIf="progreso > 0">
                     <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width:progreso + '%'}" attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
                       {{progreso}}%
                     </div>
                   </div>
                   <div class="col-sm mt-5">
                     <img  *ngIf="comment?.foto"src="http://localhost:8080/api/comentariouploads/img/{{comment.foto}}" alt="{{comment.foto}}" class ="rounded" width="300" height="250">
                   </div>
                   <button (click) ="deleteFoto()" [disabled] ="!fotoselecionada" class="btn btn-danger mt-5" type="button" id="inputGroupFileAddon03">Eliminar</button>
                 </div>
               </div>
            </div>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control"  #texto id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click) ="subirComentario(animeTitle.innerHTML,texto.value,1)">Send message</button>
      </div>
    </div>
  </div>
</div>
<h1 class="d-flex justify-content-center mt-5">Anime information</h1>
<table class="table d-flex justify-content-center mt-5">
  <tbody>
    <tr>
      <th scope="col" >Format</th>
      <th scope="col" >Episodes</th>
      <th scope="col" >Episode Duration</th>
      <th scope="col" >Status</th>
    </tr>
    <tr>
      <td>{{data.attributes.subtype}}</td>
      <td>{{data.attributes.episodeCount}}</td>
      <td>{{data.attributes.episodeLength}} min</td>
      <td>{{data.attributes.status}}</td>
    </tr>
    <tr>
      <th scope="col" >Start Date</th>
      <th scope="col" >End Date</th>

    </tr>
    <tr>
      <td>{{data.attributes.startDate}}</td>
      <td>{{data.attributes.endDate}}</td>
    </tr>
  </tbody>
</table>
<div class="container" *ngIf="habilitar==true">
  <div class="row">
    <div class="col-sm-6 mt-5 mb-5" *ngFor="let com of comment">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top img-responsive" src="http://localhost:8080/api/comentariouploads/img/{{com.foto}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{com.usuario.nombre}}  </h5>
          <p class="card-text ">{{com.texto}}</p>
        </div>
      </div>
      </div>
  </div>
</div>
<div class="container" *ngIf="showEpisode==true">
  <div class="row">
    <div class="col-sm-4 mt-5" *ngFor="let episode of episode">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top img-responsive"  [src]="episode.attributes.thumbnail.original" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{episode.attributes.canonicalTitle}}  </h5>
          <p class="card-text ">{{episode.attributes.synopsis}}</p>
        </div>
      </div>
      </div>
    </div>
    <ul class="pagination mt-3">
      <li  [ngClass]=" cont==0?'disabled page-item': 'page-item'">
        <a class="page-link" (click)="descargarAnimes(10)"> &laquo;</a>
      <li  [ngClass]=" cont==14386?'disabled page-item': 'page-item'">
        <a class="page-link" (click)="cargarAnimes(10)"> &raquo;</a>
     </li>
    </ul>
</div>


<app-footer></app-footer>
