
footer.page-footer.font-small.blue{
  width: 100%;
  height: 80px;
  color: #7a858f;
  background-color: #2B2D42;
  display: flex;
  border-top-style: solid;
  border-top-color: #7f8fad;
  border-bottom-style: solid;
  border-bottom-color: #7f8fad;

}
