@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
nav .logo> img {
  width: 200px;
  height: 100px;
}
.ak_div-principal{

  background-color: #5C728A;
}
.ak_text{
  position: relative;
  letter-spacing: 4px;
  font-size: 2em;
  color: #edf1f5;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #000, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
.ak_card-logo{
  background-color: rgba(0, 0, 0, 0);
  border : none;
}
.ak_card-homeText{
  background-color: rgba(0, 0, 0, 0);
  border : none;
}
