<nav class="navbar navbar-expand-md navbar-dark">
  <div class="mx-auto mt-5">
    <div class="card mb-0  mx-auto d-block ak_card-logo" style="max-width: 80px;">
      <img src="assets/images/logo.jpg" class="img-fluid" >
  </div>
  </div>
  <div class="mx-auto order-0">
    <ul class="navbar-nav ml-auto mr-auto">
        <li class="nav-item text-animek">
            <a class="nav-link" href="#">Browse</a>
        </li>
        <li class="nav-item text-animek">
            <a class="nav-link" href="#">Social</a>
        </li>
        <li class="nav-item text-animek">
          <a class="nav-link" href="#">Forum</a>
      </li>
        <div class="mx-auto">
          <button type="button" class="btn  mr-1 rounded-pill btn-animek text-animek">Login</button>
          <button type="button" class="btn mr-1 rounded-pill btn-animek text-animek">Sign Up</button>
      </div>
    </ul>
    
</div>
</nav>
