<app-header></app-header>

<section class="banner"></section>
<img class="header" src="assets/images/header-anime-page.jpeg" />

<div class="title">
    <h1>Re:creators</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <div class="dropdown">
      <button class="dropbtn" >Add to List</button>
      <div  id="myDropdown" class="dropdown-content">
        <a href="#home">Plan to watch</a>
        <a href="#about">Drop</a>
        <a href="#contact">Watching</a>
      </div>
    </div>
    <div class="fav">
    <button class="heart" name="button"><i class="far fa-heart"></i></button>
    </div>
    <ul>
        <li><a class="active" href="#home">Community Feed</a></li>
        <li><a href="#news">Episode</a></li>
        <li><a href="#contact">Characters</a></li>
        <li><a href="#about">Staff</a></li>
    </ul>
</div>
<div class="animeInfo">
  <div class="data">
   <p class="type">Format</p>
   <p class="value">TV</p>
</div>
<div class="data">
   <p class="type">Episodes</p>
   <p class="value">22</p>
</div>
<div class="data">
   <p class="type">Episode Duration</p>
   <p class="value">24 mins</p>
</div>
<div class="data">
   <p class="type">Status</p>
   <p class="value">Finished</p>
</div>
<div class="data">
   <p class="type">Start Date</p>
   <p class="value">Apr 8, 2017</p>
</div>
<div class="data">
   <p class="type">End Date</p>
   <p class="value">Sep 16, 2017</p>
</div>
<div class="data">
   <p class="type">Season</p>
   <p class="value">Spring 2017</p>
</div>
<div class="data">
   <p class="type">Genres</p>
   <p class="value">Action, Drama, Mecha, Mahou Shoujo, Sci-Fi</p>
</div>
</div>

<section class="coments">
   <h1 class ="comments comments-community"> Community Feed </h1>
   <div class="comments comments-content">
     <p> What a Anime, one of the top of the season!</p>
     <img src="assets/images/recreators.jpg" alt=""/>
   </div>
   <div class="comments comments-content">
     <p> What a Anime, one of the top of the season!</p>
     <img src="assets/images/recreators.jpg" alt=""/>
   </div>
   <div class="comments comments-content">
     <p> What a Anime, one of the top of the season!</p>
     <img src="assets/images/recreators.jpg" alt=""/>
   </div>
   <div class="comments comments-content">
     <p> What a Anime, one of the top of the season!</p>
     <img src="assets/images/recreators.jpg" alt=""/>
   </div>
   <div class="comments comments-content">
     <p> What a Anime, one of the top of the season!</p>
     <img src="assets/images/recreators.jpg" alt=""/>
   </div>
   <div class="comments comments-content">
     <p> What a Anime, one of the top of the season!</p>
     <img src="assets/images/recreators.jpg" alt=""/>
   </div>
</section>

<app-footer></app-footer>
