<nav>
    <div class="logo">AnimeK</div>
    <ul>
        <li><a routerLink="/index">Home</a></li>
        <li><a href="#">Animes</a></li>
        <li><a href="#">Manga</a></li>
        <li><a routerLink="/login" class="active">Log in</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>

<div class="login-box">
<h1>Login</h1>

<div class="textbox">
    <i class="fas fa-user"></i>
    <input type="text" placeholder="Username" value="">
</div>

<div class="textbox">
    <i class="fas fa-key"></i>
    <input type="password" placeholder="Password" value="">
</div>

<input type="button" class="btn" placeholder="Password" value="Login">
</div>
<app-footer></app-footer>
