<app-header></app-header>
   <section class="img_banner" >
       <img src="http://localhost:8080/api/uploads/img/{{usuario.banner}}">
  </section>
  <div class="card">
    <div class="card-body">
      <div class="container">
        <div class="row d-flex align-items-stretch">
          <div class="col-3">
            <img src="http://localhost:8080/api/uploads/img/{{usuario.foto}}"   alt="img profile" width="200" height="300">
          </div>
          <div class="col">
            <div class="row h-50">
              <div class="col">
                <p class="name" > {{usuario.nombre}}</p>
              </div>
              <div class="col">
                  <div class="fav">
                      <button class="heart" name="button"><i class="far fa-heart"></i></button>
                      <button class="btn btn-primary ml-3 mb-1" (click)="updateprofile()">Update</button>
                  </div>
                  <div class="dropdown" style="margin-top:10px;">
                     <button class="dropbtn">List</button>
                        <div  id="myDropdown" class="dropdown-content">
                          <a href="#home">Plan to watch</a>
                          <a href="#about">Drop</a>
                          <a href="#contact">Watching</a>
                        </div>
                  </div>
              </div>
            </div>
          <div class="col">
                <ul class="list-inline ul_section">
                    <li class="list-inline-item"><a class="active" href="#home">Comments</a></li>
                    <li class="list-inline-item"><a href="#news">Follows</a></li>
                    <li class="list-inline-item"><a href="#contact">Favorites Animes</a></li>
                </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col mt-5">
      <div class="card ml-5" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/recreators.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Community Feed </h5>
          <p class="card-text ">What a Anime, one of the top of the season!</p>
        </div>
      </div>
      </div>
      <div class="col mt-5">
        <div class="card ml-5" style="width: 18rem;">
          <img class="card-img-top" src="assets/images/recreators.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Community Feed </h5>
            <p class="card-text ">What a Anime, one of the top of the season!</p>
         </div>
        </div>
        </div>
        <div class="col mt-5">
          <div class="card ml-5" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/recreators.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Community Feed </h5>
              <p class="card-text ">What a Anime, one of the top of the season!</p>
            </div>
         </div>
        </div>
        <div class="col mt-5">
          <div class="card ml-5" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/recreators.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Community Feed </h5>
              <p class="card-text ">What a Anime, one of the top of the season!</p>
            </div>
         </div>
        </div>
   </div>
  </div>


<app-footer></app-footer>
