<app-header></app-header>
   <section class="img_banner" >
       <img src="http://localhost:8080/api/uploads/img/{{usuario.banner}}">
  </section>
  <div class="card">
    <div class="card-body">
      <div class="container">
        <div class="row d-flex align-items-stretch">
          <div class="col-3">
            <img src="http://localhost:8080/api/uploads/img/{{usuario.foto}}"   alt="img profile" width="200" height="300">
          </div>
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <p class="name" > {{usuario.nombre}}</p>
              </div>
              <div class="col-sm-6 col-xs-12">
                  <div class="fav">
                      <button class="btn btn-primary" (click)="updateprofile()">Update</button>
                      <button class="btn btn-success" [routerLink]="['/search/',usuario.id]">Search Animes-Mangas</button>
                  </div>
              </div>

          <div class="col-sm-6 col-xs-12">
                <ul class="list-inline ul_section">
                    <li class="list-inline-item"><a class="active" (click)="habilitar = true; showEpisode=false">Comments</a></li>
                    <li class="list-inline-item"><a (click)="habilitar = false;showEpisode=true" >Favorites Animes</a></li>
                </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="habilitar==true">
  <div class="row">
    <div class="col-sm-6 mt-5 mb-5" *ngFor="let com of comment">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top img-responsive" src="http://localhost:8080/api/comentariouploads/img/{{com.foto}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{com.anime_name}}  </h5>
          <p class="card-text ">{{com.texto}}</p>
        </div>
      </div>
      </div>
  </div>
</div>
<div class="container"  *ngIf="showEpisode==true">
  <div class="row">
    <div class="col-sm-6 mt-5 mb-5" *ngFor="let anime of anime">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top img-responsive" [src]="anime.image" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{anime.title}}  </h5>
          <p class="card-text ">{{anime.description}}</p>
        </div>
      </div>
      </div>
  </div>
</div>

<app-footer></app-footer>
