<app-header></app-header>
<h1>All Anime</h1>
<div class="card-group mb-5 ml-1 mr-2 p-2" >
<div class=" card hovereffect" *ngFor="let cate of categories" [routerLink]="['/animemanga-page/' , cate.type,cate.id, this.usuario.id]" >
<img [src]="cate.attributes.posterImage.tiny" class="card-img-top img-responsive  " />
   <div class =" card-body overlay">
      <h2 class ="card-title">{{cate.attributes.canonicalTitle}} </h2>
    </div>
   </div>
</div>
<ul class="pagination mt-3" >
  <li  [ngClass]=" cont==0?'disabled page-item': 'page-item'">
    <a class="page-link" (click)="descargarAnimes(10)"> &laquo;</a>
  <li  [ngClass]=" cont==14386?'disabled page-item': 'page-item'">
    <a class="page-link" (click)="cargarAnimes(10)"> &raquo;</a>
 </li>
</ul>
<h1>All Anime</h1>
<div class="card-group mb-5 ml-1 mr-2 p-2" >
<div class=" card hovereffect" *ngFor="let manga of manga" [routerLink]="['/animemanga-page/' , manga.type,manga.id, this.usuario.id]" >
<img [src]="manga.attributes.posterImage.tiny" class="card-img-top img-responsive  " />
   <div class =" card-body overlay">
      <h2 class ="card-title">{{manga.attributes.canonicalTitle}} </h2>
    </div>
   </div>
</div>
<ul class="pagination mt-3" >
  <li  [ngClass]=" cont==0?'disabled page-item': 'page-item'">
    <a class="page-link" (click)="descargarMangas(10)"> &laquo;</a>
  <li  [ngClass]=" cont==14386?'disabled page-item': 'page-item'">
    <a class="page-link" (click)="cargarMangas(10)"> &raquo;</a>
 </li>
</ul>
<app-footer></app-footer>
