
<nav>
    <div class="logo">AnimeK</div>
            <ul>
                <li><a routerLink="/index">Home</a></li>
                <li><a href="#" routerLink="/anime-page">Animes</a></li>
                <li><a href="#">Manga</a></li>
                <li><a routerLink="/login" class="active">Log in</a></li>
                <li><a href="#" routerLink="/signin" class="active" >Sign in</a></li>
            </ul>
        </nav>

        <div class="sect_1"></div>
        <div class="content_animes_recomendados">
          <div class="content_text_compartir">
          <h1>Manten tus Animes y mangas al dia </h1>
          <h2>Comparte con tus amigos </h2>
          </div>
          <h3>Trending Animes </h3>
          <div *ngFor="let anime of data">
             <p> <img [src]="anime.attributes.posterImage.large" />{{anime.attributes.titles.en}}: <br>
                {{anime.attributes.synopsis}}</p>


          </div>

        </div>
<app-footer></app-footer>
