<nav>
    <div class="logo">AnimeK</div>
            <ul>
                <li><a routerLink="/index">Home</a></li>
                <li><a href="#">Animes</a></li>
                <li><a href="#">Manga</a></li>
                <li><a routerLink="/login" class="active">Log in</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>

        <div class="sect_1"></div>
        <div class="content_animes_recomendados">
          <div class="content_text_compartir">
          <h1>Manten tus Animes y mangas al dia </h1>
          <h2>Comparte con tus amigos </h2>
          </div>
          <h3>Animes Recomendados </h3>
          <p><img src="assets/ows.jpg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <p><img src="assets/ows.jpg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <p><img src="assets/ows.jpg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
<app-footer></app-footer>
