@font-face {
  font-family: 'almostJapanese';
  src:url('src/assets/almostJapanese.ttf');
}

body{
  margin:0;
  padding: 0;

}
.btn-animek{
  background-color: #3577FF;
 }
.text-animek{
   color: #FCFCFD;
   font-family: 'Roboto', sans-serif;
}
