h1{
 font-size: 16px;
 margin-left: 50px;

}
.cointainer{
  max-width: 900px;
}
.trending-anime{
  max-width: 100%;
  max-height: auto;
  display: inline;
}

.trending-anime .trending-image{
  width: auto;
  height: auto;
  margin-left:50px;
  border-radius: 3px;
  box-shadow: 2px 4px 8px rgb(0, 0, 0, 0.2);
}

 .anime-info{
  background-color: rgb(0, 0, 0,.8);
  max-width: 600px;
  max-height: auto;
  border-radius: 5px;
  margin-left: 150px;
  margin-top: -200px;
  display: block;
  z-index: 1;
  position: absolute;
  color:white;
  visibility: hidden;

}
.trending-anime .anime-info p{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.trending-anime:hover .anime-info{
  filter: drop-shadow(8px 8px 10px gray);
  visibility: visible;

}
.animeInfo{
  width: 20%;
  height: 900px;
  background-color: white;
  margin-left: 85px;
  margin-top: -650px;
  margin-bottom: 150px;
  margin-right: 50px;
  border-radius: 3px;
  float: right;

}
.data .type{
  margin: 15px;
  color: rgb(92, 114, 138);
}
.data .value{
  margin: 15px;
  color:  #7f8fad;
}
.linkAnime{
  border: none;
  text-decoration: none;
  color: rgb(61, 180, 242);
  box-shadow: 2px 4px 8px rgb(0, 0, 0, 0.2);
  background-color:  rgb(61, 180, 242);
  color: white;
  border-radius: 3px;
  width: 150px;
  padding: 8px 16px;
  margin-left: 650px;
  margin-top:10px;


}
.card-group{

}
.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:inline;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:15px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;


width: 100%;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}
