<app-header></app-header>

<h1>All Anime</h1>
<div class="cointainer">
<div class="trending-anime" *ngFor="let anime of allAnimes">
<img [src]="anime.attributes.posterImage.tiny" class="trending-image" />
   <div class ="anime-info">
      <p class ="title">{{anime.attributes.titles.en}} </p>
      <p class ="description">  {{anime.attributes.synopsis}}.</p>
     </div>
   </div>
</div>
<button class ="linkAnime" >View More </button>
<h1>Trending Anime</h1>
<div class="cointainer">
<div class="trending-anime" *ngFor="let anime of data">
<a [routerLink]="['/anime-page' , anime.id]"><img [src]="anime.attributes.posterImage.tiny" class="trending-image" /></a>
   <div class ="anime-info">
      <p class ="title" >{{anime.attributes.canonicalTitle}} </p>
      <p class ="description">  {{anime.attributes.synopsis}}.</p>
     </div>

</div>
</div>

<div class="animeInfo" >
  <div class="data" *ngFor="let cat of categories">
   <p class="type">{{cat.type}}</p>
   <p class="value">{{cat.attributes.slug}}</p>
  </div>
</div>

<app-footer></app-footer>
