<app-header></app-header>

<h1>All Anime</h1>
<div class="cointainer">
<div class="trending-anime" *ngFor="let anime of allAnimes">
<img [src]="anime.attributes.posterImage.tiny" class="trending-image" />
   <div class ="anime-info">
      <p class ="title">{{anime.attributes.titles.en}} </p>
      <p class ="description">  {{anime.attributes.synopsis}}.</p>
     </div>
   </div>
</div>
<button class ="linkAnime" >View More </button>
<h1>Trending Anime</h1>
<div class="cointainer">
<div class="trending-anime" *ngFor="let anime of data">
<a [routerLink]="['/anime-page' , anime.id]"><img [src]="anime.attributes.posterImage.tiny" class="trending-image" /></a>
   <div class ="anime-info">
      <p class ="title">{{anime.attributes.titles.en}} </p>
      <p class ="description">  {{anime.attributes.synopsis}}.</p>
     </div>
</div>

</div>
<div class="animeInfo">
  <div class="data">
   <p class="type">Format</p>
   <p class="value">TV</p>
</div>
<div class="data">
   <p class="type">Episodes</p>
   <p class="value">22</p>
</div>
<div class="data">
   <p class="type">Episode Duration</p>
   <p class="value">24 mins</p>
</div>
<div class="data">
   <p class="type">Status</p>
   <p class="value">Finished</p>
</div>
<div class="data">
   <p class="type">Start Date</p>
   <p class="value">Apr 8, 2017</p>
</div>
<div class="data">
   <p class="type">End Date</p>
   <p class="value">Sep 16, 2017</p>
</div>
<div class="data">
   <p class="type">Season</p>
   <p class="value">Spring 2017</p>
</div>
<div class="data">
   <p class="type">Genres</p>
   <p class="value">Action, Drama, Mecha, Mahou Shoujo, Sci-Fi</p>
</div>
</div>
<app-footer></app-footer>
